#Задание по практике 1

##Загрузка датасета
В файле classification datasets расположены ссылки на датасеты. Выберите один в соответствии со своим вариантом, скачайте и прочитайте файл

**Не забудьте загрузить нужные библиотеки**

Например: pip3 install pandas

In [2]:
import pandas as pd

In [3]:
pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.5.16)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle) (2023.7.22)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.66.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.0.7)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.4)

In [4]:
! mkdir ~/.kaggle

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
!cp /content/drive/MyDrive/kaggle.json ~/.kaggle/kaggle.json

In [7]:
! kaggle datasets download arnabchaki/data-science-salaries-2023

Downloading data-science-salaries-2023.zip to /content
  0% 0.00/25.4k [00:00<?, ?B/s]
100% 25.4k/25.4k [00:00<00:00, 36.4MB/s]

In [8]:
! unzip data-science-salaries-2023.zip

Archive:  data-science-salaries-2023.zip
  inflating: ds_salaries.csv

In [9]:
df = pd.read_csv("ds_salaries.csv")
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M
...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L

##Первое знакомство с датасетом
В следующих ячейках выведите:


1.   Колонки датасета
2.   Первые 5 значений
3.   Последние 5 значений
4.   Статистику по числовым колонкам

In [10]:
#Колонки
df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [12]:
#Первые 5 значений
df[:5]

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

In [13]:
#Последние 5 значений
df[-5:]

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L

In [14]:
#Статистику
df.describe(include="all")

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
count,3755.000000,3755,3755,3755,3.755000e+03,3755,3755.000000,3755,3755.000000,3755,3755
unique,NaN,4,4,93,NaN,20,NaN,78,NaN,72,3
top,NaN,SE,FT,Data Engineer,NaN,USD,NaN,US,NaN,US,M
freq,NaN,2516,3718,1040,NaN,3224,NaN,3004,NaN,3040,3153
mean,2022.373635,NaN,NaN,NaN,1.906956e+05,NaN,137570.389880,NaN,46.271638,NaN,NaN
std,0.691448,NaN,NaN,NaN,6.716765e+05,NaN,63055.625278,NaN,48.589050,NaN,NaN
min,2020.000000,NaN,NaN,NaN,6.000000e+03,NaN,5132.000000,NaN,0.000000,NaN,NaN
25%,2022.000000,NaN,NaN,NaN,1.000000e+05,NaN,95000.000000,NaN,0.000000,NaN,NaN
50%,2022.000000,NaN,NaN,NaN,1.380000e+05,NaN,135000.000000,NaN,0.000000,NaN,NaN
75%,2023.000000,NaN,NaN,NaN,1.800000e+05,NaN,175000.000000,NaN,100.000000,NaN,NaN
max,2023.000000,NaN,NaN,NaN,3.040000e+07,NaN,450000.000000,NaN,100.000000,NaN,NaN

Ответьте на следующие вопросы:

1.Какие средние значения в каждой числовой колонке вашего датасета?
2.Минимальные и максимальные значения в каждой числовой колонке вашего датасета

mean 2022.373635	NaN	NaN	NaN	1.906956e+05	NaN	137570.389880	NaN	46.271638	NaN	NaN

min 2020.000000	NaN	NaN	NaN	6.000000e+03	NaN	5132.000000	NaN	0.000000	NaN	NaN

max 2023.000000	NaN	NaN	NaN	3.040000e+07	NaN	450000.000000	NaN	100.000000	NaN	NaN

##Типизация
Присвойте соответствующим колонкам один из типов (category, float, int)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3755 entries, 0 to 3754
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           3755 non-null   int64
 1   experience_level    3755 non-null   object
 2   employment_type     3755 non-null   object
 3   job_title           3755 non-null   object
 4   salary              3755 non-null   int64
 5   salary_currency     3755 non-null   object
 6   salary_in_usd       3755 non-null   int64
 7   employee_residence  3755 non-null   object
 8   remote_ratio        3755 non-null   int64
 9   company_location    3755 non-null   object
 10  company_size        3755 non-null   object
dtypes: int64(4), object(7)
memory usage: 322.8+ KB

In [16]:
df.employment_type = df.employment_type.astype("category")
df.salary	 = df.salary.astype("Float64")
df.work_year = df.work_year.astype("Int64")

#Вывести типы колонок тут
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3755 entries, 0 to 3754
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           3755 non-null   Int64
 1   experience_level    3755 non-null   object
 2   employment_type     3755 non-null   category
 3   job_title           3755 non-null   object
 4   salary              3755 non-null   Float64
 5   salary_currency     3755 non-null   object
 6   salary_in_usd       3755 non-null   int64
 7   employee_residence  3755 non-null   object
 8   remote_ratio        3755 non-null   int64
 9   company_location    3755 non-null   object
 10  company_size        3755 non-null   object
dtypes: Float64(1), Int64(1), category(1), int64(2), object(6)
memory usage: 304.7+ KB

Какие признаки вы можете выделить в своем датасете (категориальные, числовые и др., **минимум 3 разных**, помните что можно также выделить признаки более точно, например числовые - порядковые, количественные и т.д.)?

##Фильтрация
Офильтруйте 3 колонки вашего датасета и выведите результат

In [17]:
#Фильтр колонки 1
df[df["salary_currency"]== "USD"]

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
1,2023,MI,CT,ML Engineer,30000.0,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500.0,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000.0,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000.0,USD,120000,CA,100,CA,M
5,2023,SE,FT,Applied Scientist,222200.0,USD,222200,US,0,US,L
...,...,...,...,...,...,...,...,...,...,...,...
3749,2021,SE,FT,Data Specialist,165000.0,USD,165000,US,100,US,L
3750,2020,SE,FT,Data Scientist,412000.0,USD,412000,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,151000.0,USD,151000,US,100,US,L
3752,2020,EN,FT,Data Scientist,105000.0,USD,105000,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,100000.0,USD,100000,US,100,US,L

In [18]:
#Фильтр колонки 2
df[df["salary"] >= 80000]

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000.0,EUR,85847,ES,100,ES,L
3,2023,SE,FT,Data Scientist,175000.0,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000.0,USD,120000,CA,100,CA,M
5,2023,SE,FT,Applied Scientist,222200.0,USD,222200,US,0,US,L
6,2023,SE,FT,Applied Scientist,136000.0,USD,136000,US,0,US,L
...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000.0,USD,412000,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,151000.0,USD,151000,US,100,US,L
3752,2020,EN,FT,Data Scientist,105000.0,USD,105000,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,100000.0,USD,100000,US,100,US,L
3754,2021,SE,FT,Data Science Manager,7000000.0,INR,94665,IN,50,IN,L

In [19]:
#Фильтр колонки 3
df[df["remote_ratio"] < 30]

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
5,2023,SE,FT,Applied Scientist,222200.0,USD,222200,US,0,US,L
6,2023,SE,FT,Applied Scientist,136000.0,USD,136000,US,0,US,L
7,2023,SE,FT,Data Scientist,219000.0,USD,219000,CA,0,CA,M
8,2023,SE,FT,Data Scientist,141000.0,USD,141000,CA,0,CA,M
9,2023,SE,FT,Data Scientist,147100.0,USD,147100,US,0,US,M
...,...,...,...,...,...,...,...,...,...,...,...
3730,2020,SE,FT,Data Scientist,80000.0,EUR,91237,AT,0,AT,S
3736,2021,MI,FT,Data Analyst,75000.0,USD,75000,US,0,US,L
3737,2021,MI,FT,Data Analyst,62000.0,USD,62000,US,0,US,L
3738,2021,MI,FT,Data Scientist,73000.0,USD,73000,US,0,US,L
3745,2021,SE,FT,Director of Data Science,168000.0,USD,168000,JP,0,JP,S

##Группировка
Сгруппируйте датасет по какому-либо категориальному признаку и выведите среднее значение численных колонок (см. метод mean в pandas)

In [25]:
#df.groupby(["job_title"]).mean()
df.groupby(['job_title']).mean(numeric_only=True)
#df["job_title"].mean()

,work_year,salary,salary_in_usd,remote_ratio
job_title,,,,
3D Computer Vision Researcher,2021.5,120000.0,21352.250000,50.000000
AI Developer,2022.727273,137181.818182,136666.090909,31.818182
AI Programmer,2022.5,55000.0,55000.000000,50.000000
AI Scientist,2021.6875,275312.5,110120.875000,71.875000
Analytics Engineer,2022.446602,151352.621359,152368.631068,54.368932
...,...,...,...,...
Research Engineer,2022.864865,162752.810811,163108.378378,18.918919
Research Scientist,2022.5,160768.890244,161214.195122,27.439024
Software Data Engineer,2023.0,75000.0,62510.000000,75.000000
Staff Data Analyst,2020.0,15000.0,15000.000000,0.000000
Staff Data Scientist,2021.0,105000.0,105000.000000,100.000000

##Задание для гениев *
Агрегируйте числовой признак по категориальному признаку с использованием метода **без использования** библиотеки pandas, и вычислите медиану и среднее значение для каждой категории.